<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Begin : Common Code Library Section Group -->
  <sectionGroup name="commonConfiguration">
    <section name="providers" type="Common.Configuration.StatusConfiguration, Common"/>
  </sectionGroup>
    </configSections>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <commonConfiguration>
    <providers defaultProvider="xmlLogfile">
      <xmlLogfile destination="c:\temp\Logs\" filename="CommonLogFile" prependServerName="true" threshold="0" throttle="100" mode="On" />
      <windowsEvent destination="Application" serverName="." threshold="0" throttle="100" logName="Application" mode="triggered" />
    </providers>
  </commonConfiguration>
  <appSettings>
    <add key="apiUrl" value="http://mwarena.azurewebsites.net/api/" />
    <add key="Build" value="1.0" />
    <add key="AssociationName" value="TEST" />
 </appSettings>
</configuration>