<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GW2Stuff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="commonConfiguration">
      <section name="providers" type="Common.Configuration.StatusConfiguration, Common" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <commonConfiguration>
    <providers defaultProvider="xmlLogfile">
      <xmlLogfile destination="c:\temp\\Logs\" filename="OverlayLog" prependServerName="true" threshold="0" throttle="100" mode="On" />
    </providers>
  </commonConfiguration>
  <appSettings>
    <add key="LogColOffset" value="1" />
    <add key="colOffsetExt" value="0" />
    <add key="ApiUrl" value="http://mwarena.azurewebsites.net/api/"/>
    <add key="AssociationName" value="Alpha"/>
    <add key="Build" value="1.0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <GW2Stuff.Properties.Settings>
      <setting name="activeEventBackgroundImage" serializeAs="String">
        <value>active</value>
      </setting>
      <setting name="activeEventBackgroundOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="inactiveEventBackgroundImage" serializeAs="String">
        <value>inactive</value>
      </setting>
      <setting name="inactiveEventBackgroundOpacity" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="windowEventBackgroundImage" serializeAs="String">
        <value>inactive</value>
      </setting>
      <setting name="windowEventBackgroundOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="hideTitleInGame" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="activeEventMargins" serializeAs="String">
        <value>10,5,10,20</value>
      </setting>
      <setting name="inactiveEventMargins" serializeAs="String">
        <value>10,5,10,20</value>
      </setting>
      <setting name="windowEventMargins" serializeAs="String">
        <value>10,5,10,20</value>
      </setting>
      <setting name="defaultWorldId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="clickThroughInGame" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="filterAssociation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="filterShowBuilds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="filterEventInactive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="filterEventBoss" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="filterEventTemple" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="positionLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="positionTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="positionWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="positionHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dailyCompletionTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>PILOT NAME</value>
      </setting>
      <setting name="Faction" serializeAs="String">
        <value>Merc Corps</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="Association" serializeAs="String">
        <value>PUG</value>
      </setting>
      <setting name="MwaLogin" serializeAs="String">
        <value>DrAmnesia</value>
      </setting>
      <setting name="MwaApiUrl" serializeAs="String">
        <value>http://mwarena.azurewebsites.net/api/</value>
      </setting>
      <setting name="MwaPassword" serializeAs="String">
        <value>alabama96</value>
      </setting>
    </GW2Stuff.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MWOAEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:k65hr5a9jx.database.windows.net,1433;initial catalog=ExpArena;integrated security=False;user id=common@k65hr5a9jx;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>