<configuration>
  <appSettings>
    <!-- prod
    <add key="apiUrl" value="http://mwarena.azurewebsites.net/api/"/>
    -->
    <add key="ApiUrl" value="http://mwarena.azurewebsites.net/api/"/>
    <add key="AssociationName" value="Alpha"/>
    <add key="Build" value="1.0"/>
 </appSettings>

 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
