<configuration>
    <configSections>
        <sectionGroup name="commonConfiguration">
    <section name="providers" type="Common.Configuration.StatusConfiguration, Common"/>
  </sectionGroup>
    </configSections>
 
  <commonConfiguration>
    <providers defaultProvider="xmlLogfile">
      <xmlLogfile destination="c:\temp\" filename="OverlayLog" prependServerName="true" threshold="0" throttle="100" mode="On"/>
 
    </providers>
  </commonConfiguration>
  <appSettings>
    <add key="LogColOffset" value="1"/>
    <add key="colOffsetExt" value="0"/>
 </appSettings>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
